@*@{
    var part = (Lombiq.ArchivedLinks.Models.LinkPart)Model.ContentPart;
}

@part.OriginalUrl*@

<a href="@Model.PublicUrl" target="_blank">Snapshot of @Model.OriginalUrl</a>
<br />
Original Url: <a href="@Model.OriginalUrl">@Model.OriginalUrl</a>