<fieldset>
    <ol>
        <li>
            @T("Original Url:")
            <br />
            <a href="@Model.OriginalUrl" target="_blank">@Model.OriginalUrl</a>
        </li>
        <li>
            @T("Snapshot:")
            <br />
            <a href="@Model.SnapshotUrl" target="_blank">@Model.SnapshotUrl</a>
        </li>
        <li>
            @T("Jump Url:")
            <br />
        </li>
    </ol>
</fieldset>